@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.custom-bg {
    background: linear-gradient(to bottom, #ffd75f 50%, #ffd966 50%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    height: 500px; /* Adjust height as per your design */
    position: relative;
}

.slick-slide > div{
    margin :0px 10px;
}

.slick-prev:before, 
.slick-next:before {
  color: rgb(58, 57, 57); /* Set the color to gray */
  /* background-color: #3d4aff; */
}

.cover-page{
  background: linear-gradient(blue,gray);
}


.shadow1 {
    box-shadow: 
    0 0 10px rgba(80, 255, 121, 0.4),
    0 0 20px rgba(243, 255, 80, 0.2),
    0 10px 25px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}

.shadow1:hover {
  box-shadow:
    0 0 15px rgba(255, 98, 80, 0.6),
    0 0 40px rgba(255, 98, 80, 0.4),
    0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-6px);
}


.skill-card {
  background: #111827; /* dark slate */
  border-radius: 16px;
  transition: all 0.3s ease;
  box-shadow:
    0 0 10px rgba(59, 130, 246, 0.25),
    0 0 25px rgba(59, 130, 246, 0.15),
    0 10px 30px rgba(0, 0, 0, 0.7);
}

.skill-card:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow:
    0 0 20px rgba(59, 130, 246, 0.6),
    0 0 40px rgba(59, 130, 246, 0.4),
    0 20px 50px rgba(0, 0, 0, 0.9);
}


